menu "Pin Configuration"

# LED Configuration
menu "LEDs"

config GPIO_LED_BUILTIN
    int "ESP builtin LED GPIO number"
    range 0 40
    default 15
    help
        Set the builtin LED GPIO number.

config GPIO_LED_BUILTIN_ACTIVE_STATE
    int "Builtin LED active state (0 for low, 1 for high)"
    range 0 1
    default 1
    help
        Set the active state for the builtin LED. Use 0 for active low, 1 for active high.

endmenu # End of LED Configuration


# Buttons Configuration
menu "Buttons"

config GPIO_BUTTON_BUILTIN
    int "ESP builtin button GPIO number"
    range 0 40
    default 0
    help
        Set the builtin button GPIO number.

config GPIO_BUTTON_BUILTIN_ACTIVE_STATE
    int "Builtin button active state (0 for low, 1 for high)"
    range 0 1
    default 0
    help
        Set the active state for the builtin button. Use 0 for active low, 1 for active high.
        This setting also enables internal pull-up or pull-down resistors accordingly.

endmenu # End of Buttons Configuration

# Config jumper Configuration
menu "Jumpers"

config GPIO_JUMPER_C1
    int "GPIO number for C1 jumper"
    range 0 40
    default 5
    help
        Specify the GPIO number assigned to the C1 jumper.

config GPIO_JUMPER_C1_ACTIVE_STATE
    int "Active state for C1 jumper (0 = low, 1 = high)"
    range 0 1
    default 0
    help
        Define the active state for the C1 jumper. Set 0 for active low or 1 for active high.
        This configuration also automatically enables the appropriate internal pull-up or pull-down resistors.

config GPIO_JUMPER_C2
    int "GPIO number for C2 jumper"
    range 0 40
    default 3
    help
        Specify the GPIO number assigned to the C2 jumper.

config GPIO_JUMPER_C2_ACTIVE_STATE
    int "Active state for C2 jumper (0 = low, 1 = high)"
    range 0 1
    default 0
    help
        Define the active state for the C2 jumper. Set 0 for active low or 1 for active high.
        This configuration also automatically enables the appropriate internal pull-up or pull-down resistors.

endmenu # End of Jumper Configuration

endmenu # End of Pin Configuration